*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/gradle
/app/src/main/java/com/oraro/mbroadcast/dao/AirlineCompanyDao.java
/app/src/main/java/com/oraro/mbroadcast/dao/DaoMaster.java
/app/src/main/java/com/oraro/mbroadcast/dao/DaoSession.java
/app/src/main/java/com/oraro/mbroadcast/dao/FlightInfoDao.java
/app/src/main/java/com/oraro/mbroadcast/dao/DeviceEntityDao.java
/app/src/main/java/com/oraro/mbroadcast/dao/FlightInfoTempDao.java
/app/src/main/java/com/oraro/mbroadcast/dao/HistoryFlightTempEditDao.java
/app/src/main/java/com/oraro/mbroadcast/dao/InterCutDataDao.java
/app/src/main/java/com/oraro/mbroadcast/dao/PlayEntryDao.java
/app/src/main/java/com/oraro/mbroadcast/dao/SettingsDao.java
